body{
	background-color: #696969;
}

.nav-div{
	overflow: hidden;
	color: white;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    padding: 14px 16px;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar li a{
    display: block;
    font-size: 19px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:hover {
    border-bottom: 5px solid white;
}

.active{
    border-bottom: 5px solid white;
}

.nav-left{
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  margin-left: 10px;
}

#content{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#content h1{
  color: white;
  font-size: 40px;
}

#content p{
  color: white;
  font-size: 18px;
  font-style: italic;
}

.title{
  color: white;
  text-align: center;
}

#rooms{
  display: block;
}

.room-text{
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.join-room-btn{
  color: white;
  padding: 10px;
  font-weight: bold;
  background-color: #3CB371;
  border: 1px solid green;
  border-radius: 5px;
  display: inline-block;
}

.create-room-btn{
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #3CB371;
  border: 1px solid green;
  border-radius: 5px;
  display: inline-block;
}