draw_question<html>
	<head>
		<title>CAH - Online</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
		</script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
	</head>
	<body>
		<h1>Welcome to Cards Against Humanity Online</h1>

		<div>
			<h3>Sign In</h3>
			<label for="username">Username</label>
			<input type="text" name="username" id="username"/>
			<br/><br/>
			<label for="roomid">Room ID</label>
			<input type="text" name="roomid" id="roomid"/>
			<br/><br/>
			<button id="joinButton">Join Room</button>
		</div>

		<div>
			<h3>Room Chat</h3>
			<ul id="messages"></ul>
			<input type="text" id="myMessage"/>
			<button id="sendButton" disabled="true">Send Message</button>
		</div>

		<div>
			<h3>Game Area</h3>
			<button id="drawButton" disabled="true">Draw Question Card</button>
			<button id="getAnswersButton" disabled="true">Draw Answer Card(s)</button>
			<br/>

			<div>
				<ul id="gameAnnouncements"></ul>
			</div>

			<div class="question-card">
				<p class="card-text">Draw Card</p>
			</div>
			<br/>

			<ul class="answer-cards-list">
				<li><button class="answerbtn" href="#">X</button></li>
				<li><button class="answerbtn" href="#">X</button></li>
				<li><button class="answerbtn" href="#">X</button></li>
				<li><button class="answerbtn" href="#">X</button></li>
				<li><button class="answerbtn" href="#">X</button></li>
			</ul>
		</div>

	<script src="{{ url_for('static',filename='js/index.js') }}"></script>
	</body>
</html>